<h1>Welcome to CSE Motors!</h1>

<%- messages() %>

<section id="featured-car">
    <div>
        <h3>
            DMC Delorean
        </h3>
        <p>3 Cup holders <br>
            Superman doors <br>
            Fuzzy dice!
        </p>
        <button>Own Today</button>
    </div>
</section>

<section id="reviews" class="information">
    <h2>DMC Delorean Reviews</h2>
    <ul>
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80's livin and I love it! (5/5)</li>
    </ul>
</section>

<section id="upgrades" class="information">
    <h2>Delorean Upgrades</h2>
    <div>
        <div class="image-container">
            <img src="/images/upgrades/flux-cap.png" alt="Flux Cap">
        </div>
        <a href="">Flux Capacitator</a>
    </div>
    <div>
        <div class="image-container">
            <img src="/images/upgrades/flame.jpg" alt="Flame">
        </div>
        <a href="">Flame Decals</a>
    </div>
    <div>
        <div class="image-container">
            <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
        </div>
        <a href="">Bumper Stickers</a>
    </div>
    <div>
        <div class="image-container">
            <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
        </div>
        <a href="">Hub Caps</a>
    </div>
</section>