<% if (title) { %>
    <h1><%= title %></h1>
  <% } else { %>
    <h1>Oopsies! Something went wrong</h1>
  <% } %>
    
  <p><%= message %></p>

  <div id="error-image">
    <img src="../images/site/crash.jpg" alt="Car crash cartoon">
  </div>